body{
  background-image: url(images/backgrounds/02.jpg);
  background-size: cover;
}



.jumbotron{
    background-color: rgba(254,221,0,0.0);
    height: 95vh;
    text-align: center;
}

.icon {
    display: inline-block;
    position: absolute;
    bottom: 10%;
}

#contact-form {
  margin:0, auto;


}

h1{
text-align: center;font-family: 'Pacifico', cursive;
font-size:5em;
color: black;
}
.hexagon {
width: 100px;
height: 55px;
background: yellow;
position: relative;
}
.hexagon:before {
content: "";
position: absolute;
top: -25px;
left: 0;
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 25px solid yellow;
}
.hexagon:after {
content: "";
position: absolute;
bottom: -25px;
left: 0;
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top: 25px solid yellow;
}
