body{
  background-image: url(images/backgrounds/02.jpg);
  background-size: cover;
}


div.menu {
  background-color: rgba(254,221,0,0.9);
}

#menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li{
  display: block;;
  color:#FFFFFF;
  font-size: 80px;
  margin: 14px 20px;
}

h1{
text-align: center;font-family: 'Pacifico', cursive;
font-size:600%;
color: black;

}
