body{
  background-image: url(images/backgrounds/02.jpg);
  background-size: cover;
}



.jumbotron{
    background-color: rgba(254,221,0,0.0);
    height: 95vh;
    text-align: center;
}

.icon {
    display: inline-block;
    position: absolute;
    bottom: 10%;
}

#contact-form {
  margin:0, auto;


}

h1{
text-align: center;font-family: 'Pacifico', cursive;
font-size:7em;
color: black;
}

.liststyle li{
display: inline-block;
}
.navbar {
    background: #181A1C;
    margin-bottom:0;
    min-height:70px;
    display: inline-block;
}

.navbar-fixed-top {
    min-height:60px;
    height:60px;
    padding-top:0;
}

.navbar .brand img {
    width:120px;
    height:40px;
}
.navbar .nav > li > a {
    text-transform:uppercase;
    line-height: auto;
    vertical-align: middle;
    margin:10px 3px;

    border: 1px solid #181A1C;

    font-size:15px;
    text-shadow: none;
    color: #fff;
}
.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    width: auto;
    border: 1px solid #FECE1A;
    color: #fff;
    background-color: #181A1C;
    transition: border-color 1s ease;
}
